<div class="container">
  <h1 class="text-center my-5">Hello world !</h1>
  <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, provident fuga autem temporibus harum iste modi laudantium, voluptates odit maxime nemo vitae suscipit aut ad facilis optio reiciendis, in facere.</p>
</div>
